/*Déclaration des différents types de texte dans le main*/
h2 {
    padding-top: 20px;
    margin-left: 15px;
    text-decoration: underline;
    font-size: xx-large;
    color: var(--secondary_color, rgb(154, 1, 23));
}

h3 {
    color: var(--default_text_color, black);
    font-size: x-large;
}

label {
    color: var(--default_text_color, black);
}

span {
    color: var(--default_text_color, black);
}

strong {
    color: var(--main_color, rgb(230, 37, 113));
}

em {
    color: var(--default_text_color, black);
}

.buttonAdmin {
    width: 33%;
    text-align: center;
    margin-inline: 33%;
    margin-block-start: 10px;
    background-color: var(--secondary_color);
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/*------------------------------------------------------*/

main {
    display: flex;
    min-height: calc(99vh - 206px);
}

#content {
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    min-width: 98%;
    padding-left: 1%;
    padding-right: 1%;
    background-color: var(--main_content_color, rgba(255, 35, 5, 15%));
}

@media (min-width: 1100px) {
    .side {
        width: 20% !important;
    }

    #content {
        min-width: 60% !important;
        max-width: 60% !important;
    }
}

.side {
    width: 0;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
}

main p a {
    color: var(--main_color, rgb(230, 37, 113));
}

main p {
    margin: 20px;
    font-size: larger;
    color: var(--default_text_color, black);
    text-align: justify;
}


/*##################################################*/
/*MAIN Accueil -------------------------------------*/
/*##################################################*/

#intro {
    margin-top: 10px;
}

main ul {
    margin-inline: 80px;
    margin-block: 15px;
    font-size: large;
    list-style: square;
}

main ul li {
    margin-block-end: 10px;
}

/*VERSION PC UNIQUEMENT*/
@media (min-width: 1000px) {
    h2 {
        margin-left: 50px;
    }

    main p {
        margin-inline: 40px;
    }
}
