form input,
form textarea{
  color: black;
}

form{
    margin-block: 1rem;
}

form > div {
    display: flex;
    flex-direction: column;
    margin-block-end: 5px;
}

form > button {
    padding: 7px;
    padding-inline: 15px;
    background-color: var(--main_color);
    border: none;
}

form > button:hover {
    cursor: pointer;
    background-color: var(--secondary_color);
}