/*######################################*/
/*HEADER*/
/*######################################*/
header {
    position: sticky;
    top: -90px;
    z-index: 3;
    box-shadow: 0 0 15px 0 var(--header_shadow, black);
    display: flex;
    flex-direction: column;
    animation: 20s linear infinite RGBshadow;
}

@keyframes RGBshadow {
    0% {
        box-shadow: 0 0 15px 0 rgb(255, 0, 0);
    }
    17% {
        box-shadow: 0 0 15px 0 rgb(255, 0, 255);
    }
    33% {
        box-shadow: 0 0 15px 0 rgb(0, 0, 255);
    }
    50% {
        box-shadow: 0 0 15px 0 rgb(0, 255, 255);
    }
    66% {
        box-shadow: 0 0 15px 0 rgb(0, 255, 0);
    }
    83% {
        box-shadow: 0 0 15px 0 rgb(255, 255, 0);
    }
    100% {
        box-shadow: 0 0 15px 0 rgb(255, 0, 0);
    }
}

header > div {
    display: flex;
    padding-block: 10px;
    background-color: #191b20;
    justify-content: space-between;
}

header > div > div:first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
}

#logo {
    width: 65px;
    object-fit: cover;
    object-position: center;
    transition: transform 1s;
    padding-inline: 0.5rem;
}

#logo:hover {
    transform: rotate(225deg);
}

h1 > a {
    align-items: center;
    padding-top: 25px;
    padding-left: 25px;
    text-decoration: none;
    color: var(--header_color_title, white);
}

h1 > a:hover {
    color: var(--header_color_title_hover, black);
}

header > div > div:last-child {
    float: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 10px;
}

header > div > div:last-child img {
    width: 50px;
    object-fit: cover;
    object-position: center;
    padding: 0.5rem;
}

#header-user {
    position: relative;
}

#header-user img:hover + ul,
#header-user ul:hover {
    display: flex;
}

#header-user ul {
    position: absolute;
    list-style: none;
    background-color: white;
    padding: 10px;
    padding-inline: 15px;
    border-radius: 5px;
    display: none;
    flex-direction: column;
    top: 65px;
    left: -25px;
    z-index: 3;
}

#header-user li {
    margin-block: 0.5rem;
    width: 100px;
    text-align: center;
}

#header-user li a {
    color: black;
}

/*nav*/
header > div > a {
    text-decoration: none;
}

header nav {
    clear: both;
    background-color: black;
}

#boutonmenu {
    width: 100%;
    height: 45px;
    display: none;
    z-index: 2;
    visibility: hidden;
    transition: transform 1s;
}

header nav > ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    min-height: 34px;
}

header nav li {
    display: flex;
    justify-content: center;
    min-width: 74px;
    width: 100%;
}

header nav a,
header nav p {
    color: white;
    background-color: black;
    transition: color 1s, background-color 1s;
    font-size: 12px;
    text-decoration: none;
    padding-bottom: 15px;
    padding-top: 15px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

nav a:hover {
    color: black;
    background-color: white;
}

#blog {
    position: relative;
}

#connect {
    position: relative;
}

.subContent {
    display: flex;
    position: absolute;
    top: 44px;
    width: 100%;
    background-color: black;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    flex-direction: column;
    overflow: hidden;
    height: 0%;
    transition: height 0.5s;
}

.subContent a,
.subContent p {
    min-height: 45px;
    padding-block: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#welcome,
#connect div a {
    display: flex;
    justify-content: center;
    font-size: smaller;
}

#blog:hover .subContent {
    height: 325px;
}

#connect:hover .subContent {
    height: 65px;
}

#connect:hover .Connect {
    height: 130px;
}

/*Classe "Active"*/
a[class="active"] {
    background-color: var(--secondary_color, rgb(154, 1, 23));
}

/*VERSION MOBILE UNIQUEMENT*/
@media (max-width: 450px) {
    header nav {
        position: relative;
        border-top: black 5px;
        border-bottom: black 5px;
        z-index: 2;
    }

    header nav > ul {
        display: flex;
        position: absolute;
        width: 100%;
        flex-direction: column;
        height: 0%;
        background-color: black;
        top: -400px;
        transition: height 1s;
        z-index: 1;
        opacity: 0%;
        justify-content: initial;
    }

    header nav > ul > li {
        justify-content: initial;
    }

    #boutonmenu {
        display: flex !important;
        align-items: center;
    }

    header nav:hover ul {
        /*height: 588%;*/
        opacity: 100%;
        top: 45px;
    }

    #blog {
        flex-direction: column;
        height: 44.4px;
        transition: height 0.5s;
    }

    #blog:hover {
        height: 369px;
    }

    #connect {
        display: flex;
        flex-direction: column;
        height: 44.4px;
        transition: height 0.5s;
    }
    .subContent {
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        width: 100%;
        position: initial;
    }

    #connect div a {
        display: none;
    }

    #connect:hover div a {
        display: flex;
    }

    #connect:hover {
        height: 174.4px;
    }

    .subContent a,
    .subContent p {
        background-color: white;
        color: black;
    }

    /*Le menu burger fait de petits saut pour montrer
      qu'il est possible d'interagir avec lui*/
    @keyframes burger-jump {
        0% {
            top: calc(50% - (5px / 2));
        }
        3% {
            top: calc(50% - (5px / 2) - 1.5px);
        }
        4% {
            top: calc(50% - (5px / 2) + 1px);
        }
        7% {
            top: calc(50% - (5px / 2) - 1px);
        }
        8% {
            top: calc(50% - (5px / 2) + 0.5px);
        }
        10% {
            top: calc(50% - (5px / 2));
        }
        100% {
            top: calc(50% - (5px / 2));
        }
    }

    #boutonmenu_span {
        position: absolute;
        left: calc(50% - (35px / 2));
        top: calc(50% - (5px / 2));
        background-color: white;
        width: 35px;
        height: 5px;
        animation-name: burger-jump;
        animation-duration: 5s;
        animation-delay: 1s;
        animation-iteration-count: infinite;
        z-index: 1;
    }

    #boutonmenu_span::before {
        content: "";
        position: absolute;
        top: -10px;
        background-color: white;
        width: 35px;
        height: 5px;
    }

    #boutonmenu_span::after {
        content: "";
        position: absolute;
        top: 10px;
        background-color: white;
        width: 35px;
        height: 5px;
    }

    /*Petite animation qui tourner le menu burger
      qui est devenu une croix*/
    @keyframes span-close {
        0% {
            transform: rotate(45deg);
        }
        50% {
            transform: rotate(225deg);
        }
        100% {
            transform: rotate(405deg);
        }
    }

    header nav:hover #boutonmenu_span {
        transform: rotate(45deg);
        animation-name: span-close;
        animation-duration: 4s;
        animation-delay: 1s;
        animation-iteration-count: infinite;
    }

    header nav:hover #boutonmenu_span::before {
        visibility: hidden;
    }

    header nav:hover #boutonmenu_span::after {
        transform: rotate(-90deg);
        top: 0px;
    }
}

/*VERSION PC UNIQUEMENT*/
@media (min-width: 1000px) {
    nav a {
        font-size: 15px;
    }
}

#language-selector {
    margin-inline: 10px;
    display:flex;
    flex-direction: column;
    position: relative;
}

#language-selector > p{
    padding: 5px;
    min-width: 75px;
    background-color: #6a6a6a;
    border-radius: 5px;
    color: black;
    font-weight: bold;
}

#language-selector > p:hover + ul,
#language-selector > ul:hover {
    display:flex;
}

#language-selector > ul {
    position: absolute;
    display:none;
    flex-direction:column;
    list-style: none;
    top: 30px;

    padding: 5px;
    background-color: #777777;
    border-radius: 5px;
    font-weight: bold;
    min-width: 75px;
}

#language-selector > ul > li:hover {
    background-color: #b4b4b4;
    width: 100%;
}

#language-selector > ul > li > a {
    color: black;
    text-decoration: none;
    width: 100%;
    text-align: center;
}

/*######################################*/
/*FOOTER*/
/*######################################*/

footer {
    position: relative;
    background-color: black;
    padding-block: 10px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer a {
    color: white;
}

footer p {
    color: white;
}

#Copyright,
#Creator {
    width: 100%;
    text-align: center;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
}

footer > span {
    background-color: white;
    border-radius: 2px;
    left: calc(50% - 50px);
    width: 100px;
    height: 2px;
    animation-name: span-footer;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin-block: 10px;
}

@keyframes span-footer {
    0% {
        left: calc(50% - 50px);
        width: 100px;
    }
    25% {
        left: calc(50% - 100px);
        width: 200px;
    }
    50% {
        left: calc(50% - 25px);
        width: 50px;
    }
    75% {
        left: calc(50% - 150px);
        width: 300px;
    }
    100% {
        left: calc(50% - 50px);
        width: 100px;
    }
}