.divButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.divButton a,
form button {
    padding: 7px;
    padding-inline: 15px;
    background-color: var(--main_color);
    border-radius: 5px;
    margin: 5px;
    margin-inline: 0.5rem;
    text-decoration: none;
    border: none;
}

form button{
    border-radius: 0px;
}

.divButton a:hover,
form button:hover {
    background-color: var(--secondary_color);
}

.divSearch {
    margin-top: 20px;
}

.divSearch form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.divSearch form > div {
    width: calc(60% - 80px);
}

.divSearch input {
    padding: 7px;
    padding-inline: 15px;
    margin: 5px;
    margin-inline: 0.5rem;
    border: none;
    width: 99%;
    color: black;
}

#home-content{
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin-block: 0.2rem;
}

#home-content > div{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-block: 1rem;
}

#home-content > div img{
    margin-block: 0.1rem;
    width: 400px;
    object-fit: cover;
    object-position: center;
    border: 2px solid #0000;
}

#home-content > div img:hover{
    border: 2px solid var(--main_color);
}

#home-content > div p{
    margin-block: 0.1rem;
}
