.users_form_content {
    display: flex;
    flex-direction: column;
}

.users_form_content p{
    margin-block: 0.2rem;
}

.users_form_content p a:not(:hover){
    text-decoration: none;
}

.users_form_content fieldset{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px;
}

.users_form_content legend{
    margin-block: 0.2rem;
    padding-inline: 10px;
}

form{
    margin-block: 1rem;
}

fieldset > div {
    display: flex;
    flex-direction: column;
    margin-block-end: 5px;
}

fieldset > button {
    padding: 7px;
    padding-inline: 15px;
    background-color: var(--main_color);
    border: none;
}

fieldset > button:hover {
    cursor: pointer;
    background-color: var(--secondary_color);
}

input{
    color: black;
}