#content > div{
    display: flex;
    justify-content: center;
    margin-block: 30px;
}

table{
    width: 80%;
    object-fit: cover;
    object-position: center;
    table-layout: fixed;
}

th{
    background-color: var(--main_color);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    padding: 0.2rem;
}


td{
    background-color: var(--secondary_color);
    padding-inline: 0.2rem;
    line-break: anywhere;
}