/*######################################*/
/*ROOT*/
/*######################################*/
:root:not([class="dark"]),
.light {
  --main_color: rgb(230, 37, 113);
  --secondary_color: rgb(154, 1, 23);
  --secondary_color_data: 154, 1, 23;

  --selection_color: rgba(230, 37, 113, 0.5);

  --body_color: white;
  --main_content_color: rgb(255, 218, 197);
  --header_color_title: white;
  --header_color_title_hover: black;
  --header_shadow: black;

  --default_text_color:black;

}

/*DARK MODE*/
@media (prefers-color-scheme: dark) {
  :root:not([class="light"]) {
    --main_color: rgb(154, 1, 23);
    --secondary_color: rgb(175, 26, 0);
    --secondary_color_data: 175, 26, 0;

    --selection_color: rgba(154, 1, 32, 0.5);

    --body_color: rgb(38, 8, 13);
    --main_content_color: #1b0400;
    --header_color_title: rgb(255, 255, 255);
    --header_color_title_hover: rgb(201, 0, 0);
    --header_shadow: rgb(0, 0, 0);

    --default_text_color:white;

  }
}

.dark {
  --main_color: rgb(154, 1, 23);
  --secondary_color: rgb(175, 26, 0);
  --secondary_color_data: 175, 26, 0;

  --selection_color: rgba(154, 1, 32, 0.5);

  --body_color: rgb(64, 4, 0);
  --main_content_color: #1b0400;
  --header_color_title: black;
  --header_color_title_hover: white;
  --header_shadow: rgb(154, 1, 23);

  --default_text_color:white;
}


/*######################################*/
/*GENERAL*/
/*######################################*/
* {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/ /*Ce projet a été commencé sans cette ligne, donc elle ne sera pas utilisé pour la suite*/
  color: var(--default_text_color, black);
  background-color: none;
  transition: color 0.5s, background-color 0.5s;
}

body {
  background-color: var(--body_color, white);
  font-family: Arial, Helvetica, sans-serif;
}

main img {
  max-width: 100%;
}

textarea {
  resize: none;
}

textarea:focus,
input:focus {
  outline: none;
}

/*Couleur de selection de texte*/
::selection {
  background: var(--selection_color, rgba(230, 37, 113, 0.5));
}

::-moz-selection {
  background: var(--selection_color, rgba(230, 37, 113, 0.5));
}

/*ScrollBar*/
/*(Uniquement sur les navigateurs webkit)*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: black;
  padding-left: 1px;
}

::-webkit-scrollbar-thumb {
  background: var(--main_color, rgb(230, 37, 113));
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary_color, rgb(154, 1, 23));
}

/*CheckBox*/
.container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 6px;
  margin-top: 6px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 3px;
  border: solid 1px grey;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: var(--secondary_color, rgb(154, 1, 23));
  border: solid 1px var(--secondary_color, rgb(154, 1, 23));
}

.container #terms:checked ~ .checkmark,
.container #newsletter:checked ~ .checkmark {
  background-color: var(--main_color, rgb(230, 37, 113));
  border: solid 1px var(--main_color, rgb(230, 37, 113));
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 5px;
  top: 1px;
  width: 3px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*Radio*/
.container-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark-radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 30px;
  background-color: var(--main_color, rgb(230, 37, 113));
  border-radius: 10px;
}

.container-radio:hover input ~ .checkmark-radio {
  background-color: var(--secondary_color, rgb(154, 1, 23));
}

.container-radio input:checked ~ .checkmark-radio {
  background: linear-gradient(
    90deg,
    rgba(255, 63, 0, 1) 0%,
    rgba(255, 0, 70, 1) 100%
  );
}

.checkmark-radio:after {
  content: "";
  position: absolute;
}

.container-radio input:checked ~ .checkmark-radio:after {
  left: 16px;
}

.container-radio .checkmark-radio:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
  transition: left 0.5s;
}

