#show-content {
    display: flex;
    flex-direction:column;
    justify-content: center;
}

#show-content > img{
    width: 80%;
    object-fit: cover;
    object-position: center;
}

#show-content  table{
    width: 80%;
    object-fit: cover;
    object-position: center;
    table-layout: fixed;
}

#show-content  th{
    background-color: var(--main_color);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    padding: 0.2rem;
}


#show-content  td{
    background-color: var(--secondary_color);
    padding-inline: 0.2rem;
    line-break: anywhere;
}

#show-content a,
.btn {
    padding: 7px;
    padding-inline: 15px;
    background-color: var(--main_color);
    border-radius: 5px;
    margin: 5px;
    margin-inline: 0.5rem;
    text-decoration: none;
    border: none;
}

#show-content a:hover,
.btn:hover {
    background-color: var(--secondary_color);
}

.comments-section {
    display: flex;
    flex-direction:column;
    justify-content: center;
}

.comments{
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: rgba(var(--secondary_color_data),0.15);
    justify-content: start;
    margin-block: 0.4rem;
    border-radius: 10px;
}

.comments-author {
    color: var(--secondary_color);
    margin: 0;
    margin-inline: 10px;
    margin-block-start: 10px;
}

.comments-date,
.comments-supp {
    color: var(--main_color);
    margin: 0;
    margin-inline: 15px;
    font-size: small;
}

.comments-content {
    margin: 5px;
    padding: 5px;
    background-color: rgba(var(--secondary_color_data),0.35);
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    line-break: anywhere;
    font-size: medium;
}

#comments-form-add,
#comments-form-add > div {
    display: flex;
    flex-direction:column;
}

input,
textarea{
    color: black;
}