:root:not([class="dark"]),
.light {
  --main_color: rgb(230, 37, 113);
  --secondary_color: rgb(154, 1, 23);

  --selection_color: rgba(230, 37, 113, 0.5);

  --body_color: white;
  --main_content_color: rgb(255, 218, 197);
  --header_color_1: rgba(230, 37, 113, 1);
  --header_color_2: rgba(255, 56, 85, 1);
  --header_color_3: rgba(231, 47, 120, 1);
  --header_color_title: white;
  --header_color_title_hover: black;
  --header_shadow: black;

  --default_text_color: black;
  --comment_color: white;
  --blog_article_color: white;
  --NcontactColor: rgb(230, 37, 113);

  --input_color: rgb(255, 0, 0);
  --input_color_alpha: rgba(255, 0, 0, 0.25);

  --input_login_color_text: black;

  --table_odd: #ff315b;
  --table_even: #ff9aa8;
  --select_tr: #b7001d;

  --aside_color: #3e041d;
}

/*##################################################*/
/*DARK MODE*/
/*##################################################*/
@media (prefers-color-scheme: dark) {
  :root:not([class="light"]) {
    --main_color: rgb(154, 1, 23);
    --secondary_color: rgb(175, 26, 0);

    --selection_color: rgba(154, 1, 32, 0.5);

    --body_color: rgb(64, 4, 0);
    --main_content_color: #1b0400;
    --header_color_1: black;
    --header_color_2: rgb(185, 13, 36);
    --header_color_3: black;
    --header_color_title: black;
    --header_color_title_hover: white;
    --header_shadow: rgb(154, 1, 23);

    --default_text_color: white;
    --comment_color: #1e1e1e;
    --blog_article_color: #1e1e1e;
    --NcontactColor: rgb(92, 0, 13);

    --input_color: rgb(255, 0, 0);
    --input_color_alpha: rgba(255, 0, 0, 0.25);

    --input_login_color_text: white;

    --table_odd: #a32200;
    --table_even: #7e0000;
    --select_tr: #500000;

    --aside_color: #2b0000;
  }
}

.dark {
  --main_color: rgb(154, 1, 23);
  --secondary_color: rgb(175, 26, 0);

  --selection_color: rgba(154, 1, 32, 0.5);

  --body_color: rgb(64, 4, 0);
  --main_content_color: #1b0400;
  --header_color_1: black;
  --header_color_2: rgb(185, 13, 36);
  --header_color_3: black;
  --header_color_title: black;
  --header_color_title_hover: white;
  --header_shadow: rgb(154, 1, 23);

  --default_text_color: white;
  --comment_color: #1e1e1e;
  --blog_article_color: #1e1e1e;
  --NcontactColor: rgb(92, 0, 13);

  --input_color: rgb(255, 0, 0);
  --input_color_alpha: rgba(255, 0, 0, 0.25);

  --input_login_color_text: white;

  --table_odd: #a32200;
  --table_even: #7e0000;
  --select_tr: #500000;

  --aside_color: #2b0000;
}

/*Generale*/
* {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/ /*Ce projet a été commencé sans cette ligne, donc elle ne sera pas utilisé pour la suite*/
  color: var(--default_text_color, black);
  background-color: none;
  transition: color 0.5s, background-color 0.5s;
}

body {
  background-color: var(--body_color, white);
  font-family: Arial, Helvetica, sans-serif;
}

main img {
  max-width: 100%;
}

textarea {
  resize: none;
}

textarea:focus,
input:focus {
  outline: none;
}

/*Couleur de selection de texte*/
::selection {
  background: var(--selection_color, rgba(230, 37, 113, 0.5));
}

::-moz-selection {
  background: var(--selection_color, rgba(230, 37, 113, 0.5));
}

/*ScrollBar*/
/*(Uniquement sur les navigateurs webkit)*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: black;
  padding-left: 1px;
}

::-webkit-scrollbar-thumb {
  background: var(--main_color, rgb(230, 37, 113));
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary_color, rgb(154, 1, 23));
}

/*CheckBox*/
.container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 6px;
  margin-top: 6px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 3px;
  border: solid 1px grey;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: var(--secondary_color, rgb(154, 1, 23));
  border: solid 1px var(--secondary_color, rgb(154, 1, 23));
}

.container #terms:checked ~ .checkmark,
.container #newsletter:checked ~ .checkmark {
  background-color: var(--main_color, rgb(230, 37, 113));
  border: solid 1px var(--main_color, rgb(230, 37, 113));
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 5px;
  top: 1px;
  width: 3px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*Radio*/
.container-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark-radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 30px;
  background-color: var(--main_color, rgb(230, 37, 113));
  border-radius: 10px;
}

.container-radio:hover input ~ .checkmark-radio {
  background-color: var(--secondary_color, rgb(154, 1, 23));
}

.container-radio input:checked ~ .checkmark-radio {
  background: linear-gradient(
    90deg,
    rgba(255, 63, 0, 1) 0%,
    rgba(255, 0, 70, 1) 100%
  );
}

.checkmark-radio:after {
  content: "";
  position: absolute;
}

.container-radio input:checked ~ .checkmark-radio:after {
  left: 16px;
}

.container-radio .checkmark-radio:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
  transition: left 0.5s;
}

/*###############################################################################*/
/*###############################################################################*/
/*HEADER*/
/*###############################################################################*/
/*###############################################################################*/

header {
  position: sticky;
  top: -100px;
  z-index: 3;
  box-shadow: 0 0 10px 0 var(--header_shadow, black);
}

header > div {
  display: flex;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    var(--header_color_1, rgba(230, 37, 113, 1)) 0%,
    var(--header_color_2, rgba(255, 56, 85, 1)) 50%,
    var(--header_color_3, rgba(231, 47, 120, 1)) 100%
  );
  padding-top: 10px;
  padding-bottom: 10px;
}

#logo {
  width: 5em;
  transition: transform 1s;
}

#logo:hover {
  transform: rotate(225deg);
}

h1 {
  align-items: center;
  padding-top: 25px;
  padding-left: 25px;
  color: var(--header_color_title, white);
}

h1:hover {
  color: var(--header_color_title_hover, black);
}

header > div > a {
  text-decoration: none;
}

header nav {
  clear: both;
  background-color: black;
}

#boutonmenu {
  width: 100%;
  height: 45px;
  display: none;
  z-index: 2;
  visibility: hidden;
  transition: transform 1s;
}

header nav > ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  min-height: 34px;
}

header nav li {
  display: flex;
  justify-content: center;
  min-width: 74px;
  width: 100%;
}

header nav a,
header nav p {
  color: white;
  background-color: black;
  transition: color 1s, background-color 1s;
  font-size: 12px;
  text-decoration: none;
  padding-bottom: 15px;
  padding-top: 15px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

nav a:hover {
  color: black;
  background-color: white;
}

#blog {
  position: relative;
}

#connect {
  position: relative;
}

.subContent {
  display: flex;
  position: absolute;
  top: 44px;
  width: 100%;
  background-color: black;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  flex-direction: column;
  overflow: hidden;
  height: 0%;
  transition: height 0.5s;
}

.subContent a, .subContent p{
  min-height: 45px;
  padding-block: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#welcome,
#connect div a {
  display: flex;
  justify-content: center;
  font-size: smaller;
}

#blog:hover .subContent {
  height: 325px;
}

#connect:hover .subContent {
  height: 65px;
}

#connect:hover .Connect {
  height: 130px;
}

/*Classe "Active"*/
a[class="active"] {
  background-color: var(--secondary_color, rgb(154, 1, 23));
}

/*VERSION MOBILE UNIQUEMENT*/
@media (max-width: 450px) {
  header nav {
    position: relative;
    border-top: black 5px;
    border-bottom: black 5px;
    z-index: 2;
  }

  header nav > ul {
    display: flex;
    position: absolute;
    width: 100%;
    flex-direction: column;
    height: 0%;
    background-color: black;
    top: -400px;
    transition: height 1s;
    z-index: 1;
    opacity: 0%;
    justify-content: initial;
  }

  header nav > ul > li {
    justify-content: initial;
  }

  #boutonmenu {
    display: flex !important;
    align-items: center;
  }

  header nav:hover ul {
    height: 588%;
    opacity: 100%;
    top: 45px;
  }

  #blog {
    flex-direction: column;
    height: 44.4px;
    transition: height 0.5s;
  }

  #blog:hover {
    height: 369px;
  }

  #connect {
    display: flex;
    flex-direction: column;
    height: 44.4px;
    transition: height 0.5s;
  }
  .subContent {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    width: 100%;
    position: initial;
  }

  #connect div a {
    display: none;
  }

  #connect:hover div a {
    display: flex;
  }

  #connect:hover{
    height: 174.4px;
  }

  .subContent a,
  .subContent p {
    background-color: white;
    color: black;
  }

  /*Le menu burger fait de petits saut pour montrer
    qu'il est possible d'interagir avec lui*/
  @keyframes burger-jump {
    0% {
      top: calc(50% - (5px / 2));
    }
    3% {
      top: calc(50% - (5px / 2) - 1.5px);
    }
    4% {
      top: calc(50% - (5px / 2) + 1px);
    }
    7% {
      top: calc(50% - (5px / 2) - 1px);
    }
    8% {
      top: calc(50% - (5px / 2) + 0.5px);
    }
    10% {
      top: calc(50% - (5px / 2));
    }
    100% {
      top: calc(50% - (5px / 2));
    }
  }

  #boutonmenu_span {
    position: absolute;
    left: calc(50% - (35px / 2));
    top: calc(50% - (5px / 2));
    background-color: white;
    width: 35px;
    height: 5px;
    animation-name: burger-jump;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    z-index: 1;
  }

  #boutonmenu_span::before {
    content: "";
    position: absolute;
    top: -10px;
    background-color: white;
    width: 35px;
    height: 5px;
  }

  #boutonmenu_span::after {
    content: "";
    position: absolute;
    top: 10px;
    background-color: white;
    width: 35px;
    height: 5px;
  }

  /*Petite animation qui tourner le menu burger
    qui est devenu une croix*/
  @keyframes span-close {
    0% {
      transform: rotate(45deg);
    }
    50% {
      transform: rotate(225deg);
    }
    100% {
      transform: rotate(405deg);
    }
  }

  header nav:hover #boutonmenu_span {
    transform: rotate(45deg);
    animation-name: span-close;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
  }

  header nav:hover #boutonmenu_span::before {
    visibility: hidden;
  }

  header nav:hover #boutonmenu_span::after {
    transform: rotate(-90deg);
    top: 0px;
  }
}

/*VERSION PC UNIQUEMENT*/
@media (min-width: 1000px) {
  nav a {
    font-size: 15px;
  }
}

/*###############################################################################*/
/*###############################################################################*/
/*MAIN*/
/*###############################################################################*/
/*###############################################################################*/

/*Déclaration des différents types de texte dans le main*/
h2 {
  padding-top: 20px;
  margin-left: 15px;
  text-decoration: underline;
  font-size: xx-large;
  color: var(--secondary_color, rgb(154, 1, 23));
}

h3 {
  color: var(--default_text_color, black);
  font-size: x-large;
}

label {
  color: var(--default_text_color, black);
}

span {
  color: var(--default_text_color, black);
}

strong {
  color: var(--main_color, rgb(230, 37, 113));
}

em {
  color: var(--default_text_color, black);
}

.buttonAdmin{
  width: 33%;
  text-align: center;
  margin-inline: 33%;
  margin-block-start: 10px;
  background-color: var(--secondary_color);
  color: white;
  text-decoration: none;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/*------------------------------------------------------*/

main {
  display: flex;
  min-height: calc(99vh - 137px - 116px);
}

/*Remplir les pages trop petite*/
@media (max-width: 1000px) {
  main {
    min-height: calc(100vh - 134px - 116px) !important;
  }
}

#content {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  min-width: 98%;
  padding-left: 1%;
  padding-right: 1%;
  background-color: var(--main_content_color, rgba(255, 35, 5, 15%));
}

@media (min-width: 1100px) {
  .side {
    width: 20% !important;
  }

  #content {
    min-width: 60% !important;
    max-width: 60% !important;
  }
}

.side {
  width: 0;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
}

main p a {
  color: var(--main_color, rgb(230, 37, 113));
}

main p {
  margin: 20px;
  font-size: larger;
  color: var(--default_text_color, black);
  text-align: justify;
}

main img {
  margin: 10px;
  border-radius: 20px;
}

/*##################################################*/
/*MAIN Accueil -------------------------------------*/
/*##################################################*/

#intro {
  margin-top: 10px;
}

#blur {
  background-image: url(../img/bg-planche.jpg);
  overflow: hidden;
  display: flex;
  justify-content: center;
}

#blur > img {
  filter: blur(10px);
  transition: filter 2s;
  width: 90%;
}

#blur > img:hover {
  filter: none;
}

#savoir_plus {
  float: right;
  margin-top: 33px;
  margin-right: 53px;
  color: var(--main_color);
  font-size: large;
}

main ul {
  margin-inline: 80px;
  margin-block: 15px;
  font-size: large;
  list-style: square;
}

main ul li {
  margin-block-end: 10px;
}

/*VERSION PC UNIQUEMENT*/
@media (min-width: 1000px) {
  h2 {
    margin-left: 50px;
  }

  main p {
    margin-inline: 40px;
  }

  main img {
    margin: 40px;
    margin-block: 15px;
    width: 500px;
    object-fit: cover;
    object-position: center;
  }
}

/*FOOTER*/

footer {
    position: relative;
    background-color: black;
    padding-bottom: 10px;
    z-index: 2;
  }
  
  footer a {
    color: white;
  }
  
  footer p {
    color: white;
  }
  
  footer li {
    color: white;
  }
  
  #article_contact {
    display: flex;
    justify-content: space-around;
  }
  
  #article_contact > a {
    position: relative;
    margin-top: 10px;
    background-color: white;
    text-decoration: none;
    color: black;
    width: 100%;
    text-align: center;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: background-color 1s, color 1s;
  }
  
  #article_contact > a:hover {
    background-color: var(--main_color);
    color: white;
  }
  
  #article_contact > a span {
    position: absolute;
    top: 50px;
    left: 0px;
    background-color: var(--secondary_color);
    text-align: center;
    height: 10px;
    width: 0vw;
    transition: width 1s;
  }
  
  #article_contact > a:hover span {
    width: 100vw;
  }
  
  #article {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-top: 10px;
    overflow: visible;
  }
  
  #article > p {
    position: relative;
    background-color: white;
    color: black;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    transition: background-color 1s, color 1s;
  }
  
  #article > p:hover {
    background-color: var(--main_color);
    color: white;
  }
  
  #article span {
    position: absolute;
    top: 48px;
    left: 0px;
    background-color: var(--secondary_color);
    text-align: center;
    height: 10px;
    width: 0vw;
    transition: width 1s;
  }
  
  #article > p:hover span {
    width: 100vw;
  }
  
  #article-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    list-style: none;
    width: 100%;
    left: -100%;
    top: -158px;
    transition: width 1s;
  }
  
  #article:hover #article-content {
    width: 200%;
  }
  
  #article-content:hover {
    width: 200%;
  }
  
  #article:hover #li3 {
    margin-bottom: 5px;
  }
  
  #article-content > li {
    position: initial;
    background-color: var(--main_color);
    padding: 15px;
    padding-right: 0px;
    padding-left: 0px;
    margin: 2px;
    margin-left: 0px;
    margin-right: 0px;
    width: 50%;
  }
  
  #article-content > li:hover {
    background-color: var(--secondary_color);
  }
  
  #li1 {
    transition: margin 0.5s 0.75s;
  }
  
  #li2 {
    transition: margin 0.5s 0.5s;
  }
  
  #li3 {
    transition: margin 0.5s 0.1s;
  }
  
  #article:hover #li1 {
    margin-left: 50%;
  }
  
  #article:hover #li2 {
    margin-left: 50%;
  }
  
  #article:hover #li3 {
    margin-left: 50%;
  }
  
  #article-content a {
    color: black;
    background-color: white;
    text-decoration: none;
    padding: 15px;
    padding-right: 65%;
    padding-left: 15%;
    margin: 2px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
  }
  
  #link1 {
    animation-name: l1;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes l1 {
    0% {
      padding-right: 55%;
    }
    20% {
      padding-right: 60%;
    }
    40% {
      padding-right: 53%;
    }
    60% {
      padding-right: 57%;
    }
    80% {
      padding-right: 50%;
    }
    100% {
      padding-right: 55%;
    }
  }
  
  #link2 {
    animation-name: l2;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;
  }
  
  @keyframes l2 {
    0% {
      padding-right: 55%;
    }
    20% {
      padding-right: 60%;
    }
    40% {
      padding-right: 53%;
    }
    60% {
      padding-right: 57%;
    }
    80% {
      padding-right: 50%;
    }
    100% {
      padding-right: 55%;
    }
  }
  
  #link3 {
    animation-name: l3;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
  }
  
  @keyframes l3 {
    0% {
      padding-right: 55%;
    }
    20% {
      padding-right: 60%;
    }
    40% {
      padding-right: 53%;
    }
    60% {
      padding-right: 57%;
    }
    80% {
      padding-right: 50%;
    }
    100% {
      padding-right: 55%;
    }
  }
  
  @media (max-width: 1000px) {
    @keyframes l1 {
      0% {
        padding-right: 45%;
      }
      20% {
        padding-right: 50%;
      }
      40% {
        padding-right: 43%;
      }
      60% {
        padding-right: 47%;
      }
      80% {
        padding-right: 40%;
      }
      100% {
        padding-right: 45%;
      }
    }
  
    @keyframes l2 {
      0% {
        padding-right: 45%;
      }
      20% {
        padding-right: 50%;
      }
      40% {
        padding-right: 43%;
      }
      60% {
        padding-right: 47%;
      }
      80% {
        padding-right: 40%;
      }
      100% {
        padding-right: 45%;
      }
    }
  
    @keyframes l3 {
      0% {
        padding-right: 45%;
      }
      20% {
        padding-right: 50%;
      }
      40% {
        padding-right: 43%;
      }
      60% {
        padding-right: 47%;
      }
      80% {
        padding-right: 40%;
      }
      100% {
        padding-right: 45%;
      }
    }
  }
  
  @media (max-width: 600px) {
    @keyframes l1 {
      0% {
        padding-right: 35%;
      }
      20% {
        padding-right: 40%;
      }
      40% {
        padding-right: 33%;
      }
      60% {
        padding-right: 37%;
      }
      80% {
        padding-right: 30%;
      }
      100% {
        padding-right: 35%;
      }
    }
  
    @keyframes l2 {
      0% {
        padding-right: 35%;
      }
      20% {
        padding-right: 40%;
      }
      40% {
        padding-right: 33%;
      }
      60% {
        padding-right: 37%;
      }
      80% {
        padding-right: 30%;
      }
      100% {
        padding-right: 35%;
      }
    }
  
    @keyframes l3 {
      0% {
        padding-right: 35%;
      }
      20% {
        padding-right: 40%;
      }
      40% {
        padding-right: 33%;
      }
      60% {
        padding-right: 37%;
      }
      80% {
        padding-right: 30%;
      }
      100% {
        padding-right: 35%;
      }
    }
  }
  
  #contact-footer-button {
    z-index: 3;
  }
  
  #contact-info {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: calc(75vw - 45vw / 2);
    background-color: white;
    width: 45vw;
    justify-content: center;
    opacity: 0%;
    transition: transform 0.5s, opacity 0.5s;
  }
  
  #contact-info ul {
    list-style: none;
    text-align: center;
    padding-block: 10px;
  }
  
  #contact-info li {
    padding-block: 5px;
  }
  
  #contact-info ul li a {
    color: black !important;
    text-decoration: none !important;
  }
  
  #contact-info span {
    width: 100%;
    background-color: var(--main_color);
    animation-name: contact_info_span;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;
  }
  
  @keyframes contact_info_span {
    0% {
      padding-bottom: 10px;
      margin-bottom: 5px;
    }
    20% {
      padding-bottom: 15px;
      margin-bottom: 0px;
    }
    40% {
      padding-bottom: 8px;
      margin-bottom: 7px;
    }
    60% {
      padding-bottom: 13px;
      margin-bottom: 2px;
    }
    80% {
      padding-bottom: 5px;
      margin-bottom: 10px;
    }
    100% {
      padding-bottom: 10px;
      margin-bottom: 5px;
    }
  }
  
  #contact-footer-button:hover ~ #contact-info,
  #contact-info:hover {
    transform: translateY(-85px);
    margin-block-end: 5px;
    opacity: 100%;
  }
  
  #contact-info:hover > span {
    background-color: var(--secondary_color);
  }
  
  #Copyright {
    position: relative;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
  }
  
  #Copyright > span {
    position: absolute;
    transform: translateY(-10px);
    background-color: white;
    border-radius: 2px;
    left: calc(50% - 50px);
    width: 100px;
    height: 2px;
    animation-name: span-footer;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  
  @keyframes span-footer {
    0% {
      left: calc(50% - 50px);
      width: 100px;
    }
    25% {
      left: calc(50% - 100px);
      width: 200px;
    }
    50% {
      left: calc(50% - 25px);
      width: 50px;
    }
    75% {
      left: calc(50% - 150px);
      width: 300px;
    }
    100% {
      left: calc(50% - 50px);
      width: 100px;
    }
  }
  
  /*VERSION MOBILE UNIQUEMENT*/
  @media (max-width: 450px) {
    #article_contact {
      flex-direction: column;
    }
  
    #article:hover #li1 {
      margin-left: 47%;
    }
  
    #article:hover #li2 {
      margin-left: 47%;
    }
  
    #article:hover #li3 {
      margin-left: 47%;
    }
  
    #contact-info {
      width: 90vw;
      left: 5vw;
    }
  
    #contact-footer-button:hover ~ #contact-info {
      transform: translateY(-115px);
    }
  
    @keyframes span-footer {
      0% {
        left: calc(50% - 45px);
        width: 90px;
      }
      25% {
        left: calc(50% - 95px);
        width: 190px;
      }
      50% {
        left: calc(50% - 20px);
        width: 40px;
      }
      75% {
        left: calc(50% - 125px);
        width: 250px;
      }
      100% {
        left: calc(50% - 45px);
        width: 90px;
      }
    }
  }



.divButton{
  padding-block-start: 22px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.divButton a, .btn-download, .btn  {
  text-align: center;
  padding: 5px;
  background-color: var(--secondary_color);
  text-decoration: none;
  border-radius: 5px;
  border: none;
  width: 100%;
}

.divButton a:hover, .btn-download:hover  {
  background-color: var(--main_color);
  cursor: pointer;
}

form input,
form textarea{
  color: black;
}